// app global css in SCSS form
@font-face {
  font-family: 'raleway';
  src: url(../assets/fonts/raleway/Raleway-Medium.ttf);
}

.raleway {
  font-family: 'raleway';
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
